<div class="image1">
  <div class="loginbox">
    <img src="../../../../assets/images/avatar.png" class="avatar">
    <h1>Login Here</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <span class="form-help-text-error">
        {{status}}
      </span>
      <p>Username</p>
      <input type="text" placeholder="Enter Username" id="email" formControlName="email" (input)="isTrueCharacter($event)">
      <span class="form-help-text" *ngIf="email.invalid && email.touched">
        <span *ngIf="email['errors']['required']">Email cannot be empty.</span>
        <span *ngIf="email['errors']['email']">Enter a valid email.</span>
      </span>
      <p>Password</p>
      <input type="password" placeholder="Enter Password" id="password" formControlName="password">
      <span class="form-help-text" *ngIf="password.invalid && password.touched">
        <span *ngIf="password['errors']['required']">Password cannot be empty.</span>
        <span *ngIf="password['errors']['minlength'] && password['errors']['minlength']['requiredLength']">Password
          should be more {{password['errors']['minlength']['requiredLength']}} characters. Now
          {{password['errors']['minlength']['actualLength']}}.</span>
        <span *ngIf="password['errors']['maxlength'] && password['errors']['maxlength']['requiredLength']">
          Password should be less {{password['errors']['maxlength']['requiredLength']}} characters.
          Now
          {{password['errors']['maxlength']['actualLength']}}.
        </span>
      </span>
      <button class="submitButton" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
