<div class="row">
  <div class="row-wrapper" routerLinkActive="active">
    <a class="button" routerLink="user-list">
      <i class="fas fa-user-tie"></i>
      <button>Users</button>
    </a>
  </div>
  <div class="row-wrapper" routerLinkActive="active">
    <a class="button" routerLink="direction-list">
      <i class="fas fa-atlas"></i>
      <button>Direction</button>
    </a>
  </div>
  <div class="row-wrapper" routerLinkActive="active">
    <a class="button" routerLink="technology-list">
      <i class="fas fa-sitemap"></i>
      <button>Technology</button>
    </a>
  </div>
  <div class="row-wrapper" routerLinkActive="active">
    <a class="button" routerLink="crawler-list">
      <i class="fas fa-search-location"></i>
      <button>Crawler</button>
    </a>
  </div>
  <div class="row-wrapper" routerLinkActive="active">
    <a class="button" routerLink='stop-words-list'>
      <i class="fas fa-ban"></i>
      <button>Stop Words</button>
    </a>
  </div>
</div>
